<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Cliente Web</h1>
    <b>Socket status:</b>
    <p id="socketStatus">Conecting...</p>
    <b>Sensor status:</b>
    <p id="sensorStatus">Conecting...</p>
    <p id="distance">Distance: </p>
    <div>
        <h2>Stop Distance</h2>
        <input id="inDistance" type="number" value=10>
        <button id="btnSend">Enviar</button>
    </div>
    <script src=""></script>
    <script src="socketConnection.js"></script>
</body>
</html>